.App {
  text-align: center;
}

.navbar{
  display: flex;
  justify-content: space-evenly;
  align-items: right;
  min-height: 10vh;
  background-color: rgb(31, 67, 82);
  color: white;
}

.header-link{
  color: white;
  text-decoration: none;
}